[submodule "ztools-plugin-cli"]
	path = ztools-plugin-cli
	url = https://github.com/zk3151463/ztools-plugin-cli.git
[submodule "ztools-api-types"]
	path = ztools-api-types
	url = https://github.com/zk3151463/ztools-api-types.git
